{% extends '/home/index.html.twig' %}

{%  block body %}




     <div class="rn-breadcrumb-inner ptb--30">
         <div class="container">
             <div class="row align-items-center">
                 <div class="col-lg-6 col-md-6 col-12">
                     <h5 class="title text-center text-md-start">Ajouter a new abonnement</h5>
                 </div>

             </div>
         </div>
     </div>
     <!-- create new product area -->
     <div class="create-area rn-section-gapTop">
         <div class="container">
             <div class="row g-5">
                 <div class="col-lg-3 offset-1 ml_md--0 ml_sm--0">
                     <!-- file upload area -->
                     <div class="upload-area">

                         <div class="upload-formate mb--30">
                             <h6 class="title">
                                 Upload file
                             </h6>
                             <p class="formate">
                                 Drag or choose your file to upload
                             </p>
                         </div>

                         <div class="brows-file-wrapper">
                             <!-- actual upload which is hidden -->
                             <input name="createinputfile" id="createinputfile" type="file" class="inputfile" />
                             <img id="createfileImage" src="assets/images/portfolio/portfolio-05.jpg" alt="" data-black-overlay="6">

{#                             <img id="createfileImage" src="{{ asset('/assets/images/portfolio/1.jpeg') }}" class=alt data-black-overlay="6">#}

                             <label for="createinputfile" title="No File Choosen">
                                 <i class="feather-upload"></i>
                                 <span class="text-center">Choose a File</span>
                                 <p class="text-center mt--10">PNG, GIF, WEBP, MP4 or MP3. <br>    Max 1Gb.</p>
                             </label>
                         </div>
                     </div>
                     <!-- end upoad file area -->

                     <div class="mt--100 mt_sm--30 mt_md--30 d-none d-lg-block">
                         <h5> Note: </h5>
                         <span> Image accepted : <strong>22.5%</strong> </span> <br>
                         <span> Image should be : <strong> in Portrait mode</strong></span>
                     </div>

                 </div>

                 <div class="col-lg-7">
                     <div class="form-wrapper-one">


                         <form class="row" action="#">

                             <div class="col-md-12">
                                 <div class="input-box pb--20">
                                     <label for="name" class="form-label"> Name</label>
                                     <input name="name" id="name" placeholder="e. g. `Digital Awesome Game`">
                                 </div>
                             </div>

                             <div class="col-md-12">
                                 <div class="input-box pb--20">
                                     <label for="name" class="form-label"> Last Name</label>
                                     <input name="lastname" id="lastname" placeholder="e. g. `Digital Awesome Game`">
                                 </div>
                             </div>




                             <div class="col-lg-12">
                                 <div class="collection-single-wized">
                                     <label class="title">Category</label>
                                     <div class="create-collection-input">
                                         <div class="nice-select mb--30" tabindex="0">
                                             <span class="current">Subscription type</span>
                                             <ul class="list" name="type" id="type">
                                                 <li data-value="Annuel" data-display="Annuel" class="option selected focus">Annuel</li>
                                                 <li data-value="Mensuelle" class="option">Mensuelle</li>

                                             </ul>
                                         </div>
                                     </div>
                                 </div>
                             </div>



                             <div class="col-md-12 col-xl-4">
                                 <div class="input-box">
                                     <button type="button" class="btn btn-primary-alta btn-large w-100" data-bs-toggle="modal" data-bs-target="#uploadModal" onclick="openPopup()">Preview</button>
                                 </div>
                             </div>

                             <div class="col-md-12 col-xl-8 mt_lg--15 mt_md--15 mt_sm--15">
                                 <div class="input-box">
                                     <button class="btn btn-primary btn-large w-100" onclick="addPost(event)">Submit Item</button>
 
                                 </div>
                             </div>

                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     
<div class ="popup" id="popup">
<img src="images/404-tick.png"> 
<h2>Thank You</h2>
<p>Your Subbscription has been succesfully created</p>
<button type="button" onclick="closePopup()">OK</button>
</div>
 
    <style>
    
 

.popup {
width:400px;
background:#fff;
border-radius: 6px;
position: absolute;
top: 0%;
left: 50%;
transform: translate(-50%,-50%) scale(0.1);
text-align: center ;
padding: 0 30px 30px;
color :#333;
visibility: hidden;
transition: transform 0.4s, top 0.4s;
}
.popup img{
    width : 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
    font-size:38px;
    font-weight : 500;
    margin: 30px 0 10px;
    color:#000000 ;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-40%,-100%) scale(1);

}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding : 10px 0;
    background: #6fd649 ;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 19px;
    border-radius: 4px;
    cursor: pointer;
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);



}
 
</style>

    <script>

        let popup=document.getElementById("popup");
    function openPopup(){
popup.classList.add("open-popup")

    }
    function closePopup(){
popup.classList.remove("open-popup");
redirectToAnotherRoute();

    }
    function addPost(event) {
        event.preventDefault();
        const selectedOption = document.querySelector('.nice-select ul li.selected');
        const type_text = selectedOption.textContent.trim();

        let formData = new FormData();
        let name = $('#name').val();
        let lastname = $('#lastname').val();
        let type = type_text;
        const isNameValid = validateName();
        const isLastNameValid = validateLastName();

    if (isNameValid || isLastNameValid) {

        formData.append('image', $('#createinputfile').prop('files')[0]);
        formData.append('name', name);
        formData.append('lastname', lastname);
        formData.append('type', type);
        $.ajax({
            url: '/addAbonnement',
            type: "POST",
            data: formData,
            async: true,
            processData: false,
            contentType: false,
            success: function (response) {
                                  openPopup();

                if (response.success) {
                } else {
                    console.error('Failed to create post: ' + response.message);
                }
            },
            error: function (response) {
                console.error("error");
            },
        });
      }
      else {
        alert("fields arent write §§§§§§§§!");
      }
    }


    function redirectToAnotherRoute() {
            // Wait for 3 seconds (3000 milliseconds)
            setTimeout(function() {
                // Redirect to another route
                window.location.href = '/showAbonnement'; // Replace '/your-new-route' with the actual route
            }, 2000); // 3000 milliseconds = 3 seconds
        }


const nameRegex = /^[A-Za-z\s]+$/;  
const lastNameRegex = /^[A-Za-z\s]+$/; 

function validateName() {
    const nameInput = document.getElementById('name');
    const name = nameInput.value.trim();
    if (nameRegex.test(name)) {
        nameInput.style.borderColor = 'green';
        return true;
    } else {
        nameInput.style.borderColor = 'red';
        return false;
    }
}

function validateLastName() {
    const lastNameInput = document.getElementById('lastname');
    const lastName = lastNameInput.value.trim();
    if (lastNameRegex.test(lastName)) {
        lastNameInput.style.borderColor = 'green';
        return true;
    } else {
        lastNameInput.style.borderColor = 'red';
        return false;
    }
}// Add event listeners for input fields
document.getElementById('name').addEventListener('input', validateName);
document.getElementById('lastname').addEventListener('input', validateLastName);

</script>

{% endblock %}