    
 

.popup {
    width:400px;
    background:#fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center ;
    padding: 0 30px 30px;
    color :#333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    }
    .popup img{
        width : 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    .popup h2{
        font-size:38px;
        font-weight : 500;
        margin: 30px 0 10px;
        color:#000000 ;
    }
    .open-popup{
        visibility: visible;
        top: 50%;
        transform: translate(-40%,-100%) scale(1);
    
    }
    .popup button{
        width: 100%;
        margin-top: 50px;
        padding : 10px 0;
        background: #6fd649 ;
        color: #fff;
        border: 0;
        outline: none;
        font-size: 19px;
        border-radius: 4px;
        cursor: pointer;
            box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    }
     
    
    
    .modal#statusSuccessModal .modal-content, 
    .modal#statusErrorsModal .modal-content {
        border-radius: 30px;
    }
    .modal#statusSuccessModal .modal-content svg, 
    .modal#statusErrorsModal .modal-content svg {
        width: 100px; 
        display: block; 
        margin: 0 auto;
    }
    .modal#statusSuccessModal .modal-content .path, 
    .modal#statusErrorsModal .modal-content .path {
        stroke-dasharray: 1000; 
        stroke-dashoffset: 0;
    }
    .modal#statusSuccessModal .modal-content .path.circle, 
    .modal#statusErrorsModal .modal-content .path.circle {
        -webkit-animation: dash 0.9s ease-in-out; 
        animation: dash 0.9s ease-in-out;
    }
    .modal#statusSuccessModal .modal-content .path.line, 
    .modal#statusErrorsModal .modal-content .path.line {
        stroke-dashoffset: 1000; 
        -webkit-animation: dash 0.95s 0.35s ease-in-out forwards; 
        animation: dash 0.95s 0.35s ease-in-out forwards;
    }
    .modal#statusSuccessModal .modal-content .path.check, 
    .modal#statusErrorsModal .modal-content .path.check {
        stroke-dashoffset: -100; 
        -webkit-animation: dash-check 0.95s 0.35s ease-in-out forwards; 
        animation: dash-check 0.95s 0.35s ease-in-out forwards;
    }
    
    @-webkit-keyframes dash { 
        0% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
    @keyframes dash { 
        0% {
            stroke-dashoffset: 1000;
        }
        100%{
            stroke-dashoffset: 0;
        }
    }
    @-webkit-keyframes dash { 
        0% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }
    @keyframes dash { 
        0% {
            stroke-dashoffset: 1000;}
        100% {
            stroke-dashoffset: 0;
        }
    }
    @-webkit-keyframes dash-check { 
        0% {
            stroke-dashoffset: -100;
        }
        100% {
            stroke-dashoffset: 900;
        }
    }
    @keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }
        100% {
            stroke-dashoffset: 900;
        }
    }
    .box00{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }