.message_class {
    position: fixed;
    left: 0;
    right: 80px;
    bottom: 2px;
    z-index: 100;
    padding: 15px;
    pointer-events: none;
}

.message_class .error {
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(230, 20, 20, 0.8);
    color: #fff;
    font-size: 14px;
    transform: translateY(300px);
    pointer-events: all;
    margin-bottom: 10px;
    animation: slide-in .6s ease-out forwards;
}


.message_class .success {
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(6, 150, 53, 0.8);
    color: #fff;
    font-size: 14px;
    transform: translateY(300px);
    pointer-events: all;
    margin-bottom: 10px;
    animation: slide-in .6s ease-out forwards;
}
@keyframes slide-in {
    to {
        transform: translateY(0px);
    }
}