.modal {
    display: none; /* Masquer la modal par défaut */
    position: fixed; /* Positionnement fixe pour rester au centre */
    left: 0;
    top: 0;
    width: 100%; /* Pleine largeur */
    height: 100%; /* Pleine hauteur */
    overflow: auto; /* Activer le défilement si nécessaire */
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
}

.modal-content {
    overflow: auto; /* Empêche le défilement */
    width: 80%; /* Ajustez la largeur selon vos besoins */
    height: 80%; /* Ajustez la hauteur selon vos besoins */
    background-color: #1d1d26; /* Couleur de fond */
    margin: auto; /* Centrez horizontalement */
    padding: 30px;
    border: 2px solid #30303b;
    border-radius: 10px;
    position: relative; /* Position relative pour centrer verticalement */
    top: 50%; /* Déplacez la moitié de la hauteur de la modal vers le haut */
    transform: translateY(-50%); /* Ajustez pour centrer verticalement */
}

/*.close {
    font-size: 30px;
    cursor: pointer;
}*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    width: 100%;
    text-align: left;
}

.dropdown-content button:hover {
    background-color: rgba(187, 187, 187, 0.49);
    border-radius: 5px;
}

button.dropbtn .fas.fa-cog {
    font-size: 21px;
}

button.dropbtnComment .fas.fa-cog {
    font-size: 17px;
}

.dropbtnComment {
    border: none;
}

.dropbtn {
    border: none;
}

#delImage .feather-x {
    position: absolute;
    top: 50%; /* Ajustez cette valeur selon vos besoins */
    left: 50%; /* Ajustez cette valeur selon vos besoins */
    transform: translate(-50%, -50%); /* Centrer l'icône par rapport à sa position */
}
#delImageUpdate .feather-x {
    position: absolute;
    top: 50%; /* Ajustez cette valeur selon vos besoins */
    left: 50%; /* Ajustez cette valeur selon vos besoins */
    transform: translate(-50%, -50%); /* Centrer l'icône par rapport à sa position */
}

