<form method="post" action="{{ path('app_market_place_delete', {'idProd': product.idProd}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.idProd) }}">
    <button class="btn">Delete</button>
</form>
