{% extends 'home/index.html.twig' %}
 {% block body  %}
<style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>

    <h1>My Google Map</h1>
    <div id="map"></div>
    <div id="map"></div>

    {# Include your map.js file #}

    {# Load the Google Maps API with the callback to initMap function #}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW9rWcrnqUFWszWqmQzisHGRpiNHo4fFI&callback=initMap"></script>

{% endblock %}